
@font-face {
  font-family: FigTree;
  src: url("assets/fonts/Figtree-VariableFont_wght.ttf");
}

body {
  margin: 0;
  font-family: Figtree, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
